{% extends 'base.html.twig' %}

{# Stylesheet dans le template base.html.twig #}

{% block title %}Calendrier index{% endblock %}

{% block body %}
<style>
.mouse-follow{
    position: absolute;
    transition : height 0.7s ease;
    border-radius : 15px
}

.mouse-follow-inactive{
    height: 0px;
    width: 0px;
    
}
.mouse-follow-active{
    height: 150px;
    width: 250px;
    z-index: 10;
    background-color : hsla(214, 100%, 50%, 1);
}
form[name="calendrier"]{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
#calendrier{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:3px
}
#calendrier > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
#calendrier_beginAt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
#calendrier_endAt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

</style>

    <h1>Calendrier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendrier in calendriers %}
            <tr>
                <td>{{ calendrier.id }}</td>
                <td>{{ calendrier.beginAt ? calendrier.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendrier.endAt ? calendrier.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendrier.title }}</td>
                <td>
                    <a href="{{ path('app_back_office_calendrier_show', {'id': calendrier.id}) }}">show</a>
                    <a href="{{ path('app_back_office_calendrier_edit', {'id': calendrier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_office_calendrier_new') }}">Create new</a>
    <a href="{{ path('app_back_office_calendrier_new') }}">Create new Calendrier</a>

{# ------------------Calendrier--------------- #}
    <div id="calendar-holder"></div>
</div>

<div class="mouse-follow">
{{ include('/back_office/calendrier/_form.html.twig') }}
</div>




    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>





    <script type="text/javascript">

    let mouseFollow = document.querySelector('.mouse-follow')
    //quand isMouseActive est faux mouseFollow s'affiche
    let isMouseActive = true

function updateDisplay(event) {

    if(event.target.hasAttribute("data-date")){

        let selectedDayDate = event.target.getAttribute("data-date")
        
        numbers = selectedDayDate.split('-')
        let month = parseInt(numbers[1].substring(1))
        let day = parseInt(numbers[2])
        let year = parseInt(numbers[0])

        let selectMonth = document.querySelector("#calendrier_beginAt_date_month")
        let selectDay = document.querySelector("#calendrier_beginAt_date_day")
        let selectYear = document.querySelector("#calendrier_beginAt_date_year")
  
        selectMonth.value = month
        selectDay.value = day
        selectYear.value = year



        pageX = event.pageX;
        pageY = event.pageY;

        let calendarHolder = document.querySelector("#calendar-holder")
        let modalPercentageYOffset = (pageY / calendarHolder.offsetHeight) * 100;
        let modalPercentageXOffset = (pageX / window.innerWidth) * 100;
        let modalHeight = 150;
        let modalWidth = 250;

        if(modalPercentageYOffset > 120){
            mouseFollow.style.top = `${pageY - modalHeight}px`
        }else{
            mouseFollow.style.top = `${pageY}px`
        }


        if(modalPercentageXOffset > 65){
            mouseFollow.style.left = `${pageX - modalWidth}px`
        }else{
            mouseFollow.style.left = `${pageX}px`
        }
        
        if(isMouseActive){
            mouseFollow.classList.remove("mouse-follow-inactive")
            mouseFollow.classList.add("mouse-follow-active")
            isMouseActive = false
        }else{
            mouseFollow.classList.remove("mouse-follow-active")
            mouseFollow.classList.add("mouse-follow-inactive")
            isMouseActive = true
        }
    }
}



document.addEventListener('DOMContentLoaded', () => {
    var calendarEl = document.getElementById('calendar-holder');
    //quand je click la modal mouseFollow se déplace à l'endroit de la souris

        calendarEl.addEventListener('click',updateDisplay,false)
    var calendar = new FullCalendar.Calendar(calendarEl, {
        defaultView: 'dayGridMonth',
        editable: true,
        eventSources: [
            {
                url: "{{ path('fc_load_events') }}",
                method: "POST",
                extraParams: {
                    filters: JSON.stringify({})
                },
                failure: () => {
                    // alert("There was an error while fetching FullCalendar!");
                },
            },
        ],
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay',
        },
        plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
        timeZone: 'UTC',
        dateClick : function(info) {
            //Permet de configurer un event au click d'une date
        }
    })
calendar.setOption('locale','fr')
calendar.render();
});         
            
    </script>

{% endblock %}