{% extends 'base.html.twig' %}

{# Stylesheet dans le template base.html.twig #}

{% block title %}Calendrier index{% endblock %}

{% block body %}

    <h1>Calendrier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendrier in calendriers %}
            <tr>
                <td>{{ calendrier.id }}</td>
                <td>{{ calendrier.beginAt ? calendrier.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendrier.endAt ? calendrier.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendrier.title }}</td>
                <td>
                    <a href="{{ path('app_back_office_calendrier_show', {'id': calendrier.id}) }}">show</a>
                    <a href="{{ path('app_back_office_calendrier_edit', {'id': calendrier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_office_calendrier_new') }}">Create new</a>
    <a href="{{ path('app_back_office_calendrier_new') }}">Create new Calendrier</a>

{# ------------------Calendrier--------------- #}

    <div id="calendar-holder"></div>


    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');



            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
                {# dateClick : function(info) {
                    info.dayEl.style.backgroundColor = 'red';
                } #}
            });
            calendar.setOption('locale','fr')
            calendar.render();
        });
    </script>

{% endblock %}