{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pricing</th>
                <th>Share</th>
                <th>Titre</th>
                <th>Corps</th>
                <th>Description</th>
                <th>Keywords</th>
                <th>PublishAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.pricing ? 'Yes' : 'No' }}</td>
                <td>{{ post.share ? 'Yes' : 'No' }}</td>
                <td>{{ post.titre }}</td>
                <td>{{ post.corps }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.keywords }}</td>
                <td>{{ post.publishAt ? post.publishAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_office_post_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('app_back_office_post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_office_post_new') }}">Create new</a>
{% endblock %}
