<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{asset("build/app.css")}}">
        {# stylesheet swiper  #}
        <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
        {# stylesheet FullCalendar #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">

        {#  Video.js #}
        {# <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" /> #}
        
        {# Filepond #}
        {# <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" /> #}

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
            {# Filepond #}
            <script src="https://unpkg.com/filepond@^4/dist/filepond.js" defer ></script>
        {# //  <script src="{{asset('./bundles/tinymce/ext/tinymce/tinymce.min.js')}}" defer ></script> #}
            {# // <script src= "{{ asset('./build/howler.js') }}" ></script>         #}

        {# {{ encore_entry_script_tags('tinyMCE') }} #}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        
        
        <header>
            <nav class="navigation" >

                <div class="header1">
                    <a  href="{{path("app_home")}}">
                        <img src="{{asset("./images/logo/logoExperience.png")}}" alt="">
                    </a>
                    <img src="{{asset("images/svg/search.svg")}}" alt="" id="search-svg">
                </div>
                
                <div class="header2">
                        
                    <svg id="favories-svg" viewBox="0 0 32 32">
                        <title>heart</title>
                        <path d="M16.042 8.345c0 0-2-4.262-6.5-4.262-4.917 0-7.5 4.167-7.5 8.333 0 6.917 14 15.5 14 15.5s13.916-8.5 13.916-15.5c0-4.25-2.666-8.333-7.416-8.333s-6.5 4.262-6.5 4.262z"></path>
                    </svg>
                        
                    <svg id="account-svg" viewBox="0 0 783 995">
                        <path d="M231.775,409.418C272.501,452.999 329.04,480.019 391.5,480.019C453.96,480.019 510.499,452.999 551.225,409.418C687.774,474.097 783,619.11 783,787.456C783,860.128 764.91,931.52 730.549,994.456L52.451,994.456C18.09,931.52 0,860.128 0,787.456C0,619.11 95.226,474.097 231.775,409.418Z"/>
                        <circle cx="391.5" cy="225.5" r="225.5"/>
                    </svg>

                <svg  viewBox="0 0 399 396" height="40px">
                        <path d="M51.146,305.66c21.203,-0 38.391,17.181 38.391,38.391c-0,21.199 -17.188,38.389 -38.391,38.389c-21.203,0 -38.391,-17.19 -38.391,-38.389c-0,-21.21 17.188,-38.391 38.391,-38.391Z" style="fill : white"/>

                        <path d="M51.146,318.41c-14.135,-0 -25.635,11.5 -25.635,25.641c-0,14.129 11.5,25.629 25.635,25.629c14.135,-0 25.635,-11.5 25.635,-25.629c-0,-14.141 -11.5,-25.641 -25.635,-25.641Zm-0,76.78c-28.202,0 -51.146,-22.94 -51.146,-51.139c0,-28.21 22.944,-51.151 51.146,-51.151c28.202,-0 51.147,22.941 51.147,51.151c-0,28.199 -22.945,51.139 -51.147,51.139Z" style="fill : white"/>

                        <path d="M51.146,159.21c21.203,-0 38.391,17.18 38.391,38.39c-0,21.2 -17.188,38.39 -38.391,38.39c-21.203,-0 -38.391,-17.19 -38.391,-38.39c-0,-21.21 17.188,-38.39 38.391,-38.39Z" style="fill : white"/>

                        <path d="M51.146,171.96c-14.135,-0 -25.635,11.5 -25.635,25.64c-0,14.13 11.5,25.63 25.635,25.63c14.135,-0 25.635,-11.5 25.635,-25.63c-0,-14.14 -11.5,-25.64 -25.635,-25.64Zm-0,76.78c-28.202,-0 -51.146,-22.94 -51.146,-51.14c0,-28.21 22.944,-51.15 51.146,-51.15c28.202,-0 51.147,22.94 51.147,51.15c-0,28.2 -22.945,51.14 -51.147,51.14Z" style="fill : white"/>

                        <path d="M51.146,12.76c21.203,0 38.391,17.18 38.391,38.39c-0,21.2 -17.188,38.39 -38.391,38.39c-21.203,0 -38.391,-17.19 -38.391,-38.39c-0,-21.21 17.188,-38.39 38.391,-38.39Z" style="fill : white"/>

                        <path d="M51.146,25.51c-14.135,0 -25.635,11.5 -25.635,25.64c-0,14.13 11.5,25.63 25.635,25.63c14.135,0 25.635,-11.5 25.635,-25.63c-0,-14.14 -11.5,-25.64 -25.635,-25.64Zm-0,76.78c-28.202,0 -51.146,-22.94 -51.146,-51.14c0,-28.21 22.944,-51.15 51.146,-51.15c28.202,-0 51.147,22.94 51.147,51.15c-0,28.2 -22.945,51.14 -51.147,51.14Z" style="fill : white"/>

                        <path d="M199.273,305.66c21.202,-0 38.391,17.181 38.391,38.391c0,21.199 -17.189,38.389 -38.391,38.389c-21.203,0 -38.391,-17.19 -38.391,-38.389c-0,-21.21 17.188,-38.391 38.391,-38.391Z" style="fill : white"/>

                        <path d="M199.273,318.41c-14.135,-0 -25.635,11.5 -25.635,25.641c0,14.129 11.5,25.629 25.635,25.629c14.135,-0 25.635,-11.5 25.635,-25.629c-0,-14.141 -11.5,-25.641 -25.635,-25.641Zm-0,76.78c-28.202,0 -51.146,-22.94 -51.146,-51.139c-0,-28.21 22.944,-51.151 51.146,-51.151c28.202,-0 51.146,22.941 51.146,51.151c-0,28.199 -22.944,51.139 -51.146,51.139Z" style="fill : white"/>

                        <path d="M199.273,159.21c21.202,-0 38.391,17.18 38.391,38.39c0,21.2 -17.189,38.39 -38.391,38.39c-21.203,-0 -38.391,-17.19 -38.391,-38.39c-0,-21.21 17.188,-38.39 38.391,-38.39Z" style="fill : white"/>

                        <path d="M199.273,171.96c-14.135,-0 -25.635,11.5 -25.635,25.64c0,14.13 11.5,25.63 25.635,25.63c14.135,-0 25.635,-11.5 25.635,-25.63c-0,-14.14 -11.5,-25.64 -25.635,-25.64Zm-0,76.78c-28.202,-0 -51.146,-22.94 -51.146,-51.14c-0,-28.21 22.944,-51.15 51.146,-51.15c28.202,-0 51.146,22.94 51.146,51.15c-0,28.2 -22.944,51.14 -51.146,51.14Z" style="fill : white"/>

                        <path d="M199.273,12.76c21.202,0 38.391,17.18 38.391,38.39c0,21.2 -17.189,38.39 -38.391,38.39c-21.203,0 -38.391,-17.19 -38.391,-38.39c-0,-21.21 17.188,-38.39 38.391,-38.39Z" style="fill : white"/>

                        <path d="M199.273,25.51c-14.135,0 -25.635,11.5 -25.635,25.64c0,14.13 11.5,25.63 25.635,25.63c14.135,0 25.635,-11.5 25.635,-25.63c-0,-14.14 -11.5,-25.64 -25.635,-25.64Zm-0,76.78c-28.202,0 -51.146,-22.94 -51.146,-51.14c-0,-28.21 22.944,-51.15 51.146,-51.15c28.202,-0 51.146,22.94 51.146,51.15c-0,28.2 -22.944,51.14 -51.146,51.14Z" style="fill : white"/>

                        <path d="M347.4,305.66c21.202,-0 38.39,17.181 38.39,38.391c0,21.199 -17.188,38.389 -38.39,38.389c-21.203,0 -38.391,-17.19 -38.391,-38.389c0,-21.21 17.188,-38.391 38.391,-38.391Z" style="fill : white"/>

                        <path d="M347.4,318.41c-14.135,-0 -25.635,11.5 -25.635,25.641c-0,14.129 11.5,25.629 25.635,25.629c14.135,-0 25.635,-11.5 25.635,-25.629c0,-14.141 -11.5,-25.641 -25.635,-25.641Zm-0,76.78c-28.202,0 -51.147,-22.94 -51.147,-51.139c-0,-28.21 22.945,-51.151 51.147,-51.151c28.202,-0 51.146,22.941 51.146,51.151c-0,28.199 -22.944,51.139 -51.146,51.139Z" style="fill : white"/>

                        <path d="M347.4,159.21c21.202,-0 38.39,17.18 38.39,38.39c0,21.2 -17.188,38.39 -38.39,38.39c-21.203,-0 -38.391,-17.19 -38.391,-38.39c0,-21.21 17.188,-38.39 38.391,-38.39Z" style="fill : white"/>

                        <path d="M347.4,171.96c-14.135,-0 -25.635,11.5 -25.635,25.64c-0,14.13 11.5,25.63 25.635,25.63c14.135,-0 25.635,-11.5 25.635,-25.63c0,-14.14 -11.5,-25.64 -25.635,-25.64Zm-0,76.78c-28.202,-0 -51.147,-22.94 -51.147,-51.14c-0,-28.21 22.945,-51.15 51.147,-51.15c28.202,-0 51.146,22.94 51.146,51.15c-0,28.2 -22.944,51.14 -51.146,51.14Z" style="fill : white"/>

                        <path d="M347.4,12.76c21.202,0 38.39,17.18 38.39,38.39c0,21.2 -17.188,38.39 -38.39,38.39c-21.203,0 -38.391,-17.19 -38.391,-38.39c0,-21.21 17.188,-38.39 38.391,-38.39Z" style="fill : white"/>

                        <path d="M347.4,25.51c-14.135,0 -25.635,11.5 -25.635,25.64c-0,14.13 11.5,25.63 25.635,25.63c14.135,0 25.635,-11.5 25.635,-25.63c0,-14.14 -11.5,-25.64 -25.635,-25.64Zm-0,76.78c-28.202,0 -51.147,-22.94 -51.147,-51.14c-0,-28.21 22.945,-51.15 51.147,-51.15c28.202,-0 51.146,22.94 51.146,51.15c-0,28.2 -22.944,51.14 -51.146,51.14Z" style="fill : white"/>

                    </svg>
                        
                </div>

            </nav>
        </header>
        
        
        
        <main>

            {% block body %}{% endblock %}
        
        </main>


        <footer>
            <div class="footer--text--discover">
                <p class="text text--18-400">Vous désirez aller plus loin dans notre univers ?</p>
            </div>

            <div class="footer--logo">
                <div id="footer--logoStudio">
                    <a  href="{{path("app_home")}}">
                        <img src="{{asset("./images/logo/logoExperience.png")}}" alt="">
                    </a>
                </div>
                <ul>
                    <li><p id="footer--text-resaux" class="text text--20-600" >Partager :</p></li>
                    <li>
                        <ul class="resaux-container">
                            
                            <li><a class="text text--18-400" href="#">
                                <svg enable-background="new 0 0 512 512" id="facebookSvg" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                        <linearGradient id="myGradient">
                                            <stop offset="0%" stop-color="#A878AA" />
                                            <stop offset="100%" stop-color="#CEABD1" />
                                        </linearGradient>
                                    </defs>
                                    <g>
                                        <path d="M308.3,508.5c-2.5,0.1-4.1,0.3-5.7,0.3c-34.2,0-68.3-0.1-102.5,0.1c-4.8,0-6.1-1.3-6.1-6.1c0.1-79.6,0.1-159.3,0.1-238.9   c0-2.1,0-4.2,0-6.9c-18.6,0-36.7,0-55.1,0c0-28.4,0-56.3,0-85c1.9,0,3.7,0,5.4,0c15,0,30-0.1,45,0.1c3.8,0,4.8-1.1,4.8-4.8   c-0.2-22.3-0.2-44.7,0-67c0.1-15.6,2.6-30.8,9.8-44.9c10.3-19.9,26.6-32.8,47.2-40.8c16.8-6.6,34.5-9,52.3-9.3   c29-0.4,58-0.2,87-0.3c2.7,0,4.9-0.1,4.9,3.7c-0.1,27.5-0.1,55-0.1,82.5c0,0.3-0.1,0.6-0.5,1.9c-1.7,0-3.6,0-5.5,0   c-18,0-36-0.1-54,0c-10.4,0-18.8,4.2-24.1,13.3c-1.6,2.7-2.6,6.2-2.6,9.4c-0.3,17,0,34-0.2,51c0,4,1.2,5.1,5.1,5.1   c25-0.2,50-0.1,75-0.1c2,0,3.9,0,7.3,0c-3.5,28.6-6.9,56.6-10.4,84.9c-26,0-51.3,0-77.1,0C308.3,340.8,308.3,424.4,308.3,508.5z" fill="url('#myGradient')"/>
                                    </g>
                                </svg>
                            </a></li>


                            <li><a class="text text--18-400" href="#">
                                <svg enable-background="new 0 0 512 512" id="instaSvg" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                        <linearGradient id="myGradient">
                                            <stop offset="0%" stop-color="#A878AA" />
                                            <stop offset="100%" stop-color="#CEABD1" />
                                        </linearGradient>
                                    </defs>
                                    <g>
                                        <path d="M505,257c0,35.8,0.1,71.6,0,107.5c-0.2,52-24.4,90.5-67.6,117.7C412.1,498,384,505,354.2,505   c-65.2,0-130.3,0.3-195.5-0.1c-45.3-0.3-84.3-16.3-115.2-49.9c-19.1-20.8-30.5-45.3-33.8-73.6c-0.7-6-0.8-11.9-0.8-17.9   c0-71.3-0.1-142.6,0-213.9C9.2,97.5,33.4,59,76.6,31.8C102.1,15.9,130.3,9,160.3,9c65,0,130-0.3,195,0.1   c45.5,0.3,84.6,16.4,115.5,50.2c18.9,20.7,30.2,45.2,33.4,73.2c1.3,11,0.7,22,0.8,32.9C505.1,196,505,226.5,505,257z M46,257   c0,36.7-0.1,73.3,0,110c0.1,25.2,9.3,46.9,26.5,64.9c23.1,24.1,51.9,35.8,85,36c65.7,0.4,131.3,0.1,197,0.1   c21.2,0,41.4-4.6,59.8-15.2c34.4-19.7,53.8-48.7,53.8-89.3c0-72.2,0-144.3,0-216.5c0-25-9.1-46.6-26.2-64.5   c-22.9-24.2-51.8-36.1-84.8-36.3C290.7,45.7,224.4,46,158,46c-20.7,0-40.3,4.9-58.3,15.1C65.4,80.9,45.9,109.9,46,150.5   C46,186,46,221.5,46,257z" fill="url('#myGradient')"/>
                                        <path d="M257.3,363c-64.6,0-116.4-51.6-116.3-116c0.1-62.7,52.6-114.1,116.7-114c64.4,0,116.4,51.7,116.3,115.5   C373.9,311.7,321.6,363,257.3,363z M257.3,326c43.9,0,79.7-34.9,79.7-77.8c0-43.1-35.5-78.2-79.3-78.2c-43.9,0-79.7,34.9-79.7,77.8   C178,290.9,213.5,326,257.3,326z" fill="url('#myGradient')"/>
                                        <path d="M363,123.6c0-14.2,10.9-25.6,24.5-25.6c13.6,0,24.5,11.5,24.5,25.6c0,13.9-10.9,25.3-24.3,25.4   C374.1,149.1,363,137.8,363,123.6z" fill="url('#myGradient')"/>
                                    </g>
                                </svg>
                            </a></li>


                            <li><a class="text text--18-400" href="#">
                                <svg enable-background="new 0 0 512 512" id="twitterSvg" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                        <linearGradient id="myGradient">
                                            <stop offset="0%" stop-color="#A878AA" />
                                            <stop offset="100%" stop-color="#CEABD1" />
                                        </linearGradient>
                                    </defs>
                                    <g>
                                        <path d="M3.5,421.4c56,5.1,106.1-8.9,151.5-42.9c-7-1.6-13.4-1.6-19.5-3.1c-35.7-8.5-60.4-30-74.9-63.5   c-0.7-1.7-2.5-3.8-0.9-5.5c1.2-1.3,3.5-0.2,5.2,0c12.6,1.3,25.2,0.9,37.6-2c0.2-2.2-1.4-2-2.6-2.4c-30.7-8.2-53-26.5-67.4-54.8   c-6.6-13-10.2-26.6-10.6-41.2c-0.2-5.7,0.1-5.8,5.4-3.3c12.6,6,25.8,9.4,40.9,10.1c-6.9-5.6-13.1-10.5-18.4-16.4   c-16.1-17.9-25.1-38.8-27-62.9c-1.5-19.6,2.6-37.9,11.1-55.5c1.9-3.9,3.6-3.6,6-0.7C56.6,97.7,76.1,115,97.6,130   c16,11.2,33,20.5,50.9,28.4c23.6,10.3,48.1,17.2,73.5,21.3c8,1.3,16.2,1.6,24.3,2.4c4.1,0.4,5.2-0.8,4.4-5   c-4.1-21.6-1.3-42.6,8.1-62.3c16.1-33.6,43.1-54,79.8-59.4c32.6-4.8,61.9,4.5,86.2,27.4c3.7,3.5,7,4.4,12,3.1   c19.6-5,38.3-12.1,55.9-22.1c0.5-0.3,1.1-0.4,2.9-1.1c-8.2,24.1-22.7,41.9-43,55.5c4.7,0.9,18.6-1.6,28.2-4.6   c9.2-2.9,18.4-5.5,27.2-9.4c1.2,1.3,0.1,2-0.4,2.7c-11.7,16.5-25.1,31.4-41.1,43.8c-2.2,1.7-4.3,3.6-6.6,5.2   c-1.7,1.2-1.8,2.7-1.7,4.4c0.7,18.2-0.6,36.3-3.2,54.2c-2.7,18.3-7.3,36.1-13.4,53.6c-5,14.3-10.9,28.2-17.9,41.7   c-17.3,33.2-39.8,62.4-67.9,87.3c-29.9,26.4-63.9,45.4-101.9,57.2c-23.7,7.4-48,11.7-72.9,13c-19.2,1-38.3,0.7-57.3-1.7   c-27.2-3.3-53.4-10.7-78.6-21.5c-12.9-5.5-25.1-12.1-37.3-19C6.1,424.4,4.4,423.6,3.5,421.4z" fill="url('#myGradient')" />
                                    </g>
                                </svg>
                            </a></li>


                            <li><a class="text text--18-400" href="#">
                                <svg enable-background="new 0 0 512 512" id="youtubeSvg" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g>
                                        <path d="M256.4,74.2c22.7,0,45.3-0.4,68,0.1c28.8,0.6,57.6,1.7,86.3,3c11.9,0.6,24,0.9,35.8,3.2   c28.1,5.4,44.8,22.7,52.5,50c4.1,14.5,5.6,29.4,6.9,44.3c3.5,40.1,2.8,80.2,1.8,120.3c-0.6,23.7-1.6,47.6-7.6,70.8   c-2.5,9.5-5.4,19-10.9,27.3c-10,15.1-24.4,23.7-42,26.9c-15.1,2.8-30.4,3.1-45.7,3.8c-28.3,1.3-56.6,1.9-84.9,2.6   c-33.5,0.9-67,0.7-100.4,0.4c-27.1-0.3-54.3-0.9-81.4-2c-22.9-0.9-45.9-1.3-68.5-5.7c-12.5-2.4-23.6-7.6-33.2-16.2   c-9-8.2-13.6-18.8-17-30c-7.3-24-7.8-48.8-9.3-73.6c-1.7-29-1.2-58-0.5-86.9c0.6-24.4,1.7-48.9,6.8-72.9c3-14.2,7.1-28.3,17.4-39.2   c12.7-13.4,28.9-19.8,47.2-21.1c21.9-1.5,43.9-2.5,65.8-3.4C181.1,74.3,218.8,73.8,256.4,74.2z M339.5,245.4   c-0.4-1.2-1.5-1.4-2.3-1.8c-23.5-12.4-47.1-24.8-70.7-37.2c-18.7-9.8-37.4-19.7-56.1-29.6c-5.2-2.7-5.3-2.6-5.3,3.4   c0,43.1,0,86.2,0,129.4c0,0.8,0,1.7,0,2.5c-0.1,2.6,0.9,3.4,3.3,2.1c2.9-1.6,5.8-3.2,8.8-4.8c39.4-20.4,78.9-40.9,118.3-61.3   C336.9,247.3,338.7,247,339.5,245.4z" fill="url('#myGradient')"/>
                                    </g>
                                </svg>
                            </a></li>


                        </ul>
                    </li>
                    
                </ul>
            </div>

            <div  class="footer--menu" id="footer--menu1">
                <ul>
                    <li><a class="text text--18-400" href="#">Confidentialité</a></li>
                    <li><a class="text text--18-400" href="#">Mentions légales</a></li>
                    <li><a class="text text--18-400" href="#">Préférences de cookies</a></li>
                </ul>
            </div>

            <div class="footer--menu" id="footer--menu2">
                <ul>
                    <li><a class="text text--18-400" href="#">Régie publicitaire</a></li>
                    <li><a class="text text--18-400" href="#">Recrutement</a></li>
                    <li><a class="text text--18-400" href="#">Nous contacter</a></li>
                </ul>
            </div>

            <div class="footer--button-container">
                <a class="button button--okai button--okai--footer" href="https://studio-okai.com">studio okaï</a>
            </div>

        </footer>
        
        <script src="{{asset("/js/custom.js")}}"></script>
        <script>


            let footerBtnhtml = '<p class="text text--18-400">Notre site : </p><a class="button button--okai button--okai--footer" href="https://studio-okai.com">studio okaï</a>'
            let footerLogoHtml = '<a href="/"><img src="/./images/logo/logoExperience.png" alt=""></a>'
            
                window.addEventListener('DOMContentLoaded', () => {
                    if(window.innerWidth < 789){
                        footerResponsiveLogo(footerBtnhtml);
                        
                    } else {
                        footerResponsiveLogo(footerLogoHtml);
                        changeTextFooter2()

                    }
                });

                            
                window.addEventListener('resize', () => {
                    if(window.innerWidth < 789){
                        footerResponsiveLogo(footerBtnhtml);
                        changeTextFooter()
                        
                    } else {
                        footerResponsiveLogo(footerLogoHtml);
                        changeTextFooter2()
                    }
                });
        </script>
        {% block script %}{% endblock %}
    </body>
</html>
